@import url("https://fonts.googleapis.com/css2?family=Metal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
body {
  margin: 0;
  font-family: "Metal", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222f35 !important;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.box-shadow1 {
  box-shadow: rgba(28, 255, 225, 0.644) 0px 1.5px;
  background-color: #2f2e2e !important;
}
.bs2 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #00ffffdf !important;
}
p {
  margin: 5px !important;
  text-align: left;
  padding: 0;
}
.header {
  padding: 12px;
}
.header .ant-btn {
  box-shadow: none !important;
  background-color: rgb(255, 255, 255) !important;
  color: #1eb5a4 !important;
  border: 1px solid #00ffffdf !important;
  padding: 5px 15px !important;
  outline: none !important;
  font-family: "Courier New", Courier, monospace !important;
  margin-right: 2rem;
  margin-top: 0.4rem;
  font-weight: 600;
}
.logo-main {
  font-family: "Barrio";
}
.content {
  min-height: 88vh;
}
.carimg {
  height: 180px;
  width: 240px;
  border-radius: 5px;
}
.btn1 {
  box-shadow: none !important;
  background-color: white;
  color: #1eb5a4;
  border: 1px solid #959595 !important;
  height: 35px;
  outline: none !important;
}
.car {
  border-radius: 5px;
  height: 260px !important;
  min-height: 260px !important;
  max-height: 260px !important;
  width: 272px;
  max-width: 272px;
  min-width: 272px;
  background-color: #24ffffc9;
}
/* ------------------------------------login/Register-------------------------------------- */

.login {
  padding-top: 50px;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.login label {
  color: rgb(236, 236, 236) !important;
  font-weight: 500;
}
.login-form {
  background-color: #0d8585;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
}
.login-form input {
  background-color: #e6e4e4 !important;
  border: none !important;
  color: rgb(26, 26, 26);
  min-width: 20rem !important;
  height: 40px;
}
.login-heading {
  color: rgb(255, 245, 245) !important;
}

.login a {
  color: white !important;
  opacity: 0.8;
}
.btn2 {
  box-shadow: none !important;
  background-color: white;
  color: #31bea7;
  border: 1px solid #959595 !important;
  height: 2rem;
  padding: 5px 16px;
  font-weight: 500;
  outline: none !important;
}
.btn1:focus,
.btn2:focus {
  border: none;
}
/* --------------------------------------Booking page------------------------------------- */
.carimg2 {
  height: 400px;
  border-radius: 10px;
  width: auto;
}
/* .car-headings { */
/* margin-left: 6.8rem !important; */
/* } */
.car-data {
  max-width: 120.69px !important;
  min-width: 120.69px !important;
  width: 120.69px !important;
  font-size: 20px;
  /* background-color: #28d8d8; */
  /* padding: 3px 4px; */
  border-radius: 15px;
  color: white;
}
.car-headData {
  font-size: 20px;
  padding: 1.5px 5px;
  margin-left: 3rem;
  /* color: #14b9b9; */
  color: white;
  /* margin: 12px 2px; */
  margin-top: 3px !important;
}
.car-data2 {
  /* border-bottom: 1.8px solid #0eb9b9; */
  font-weight: 500;
}
/* -------------------------------------heading divider------------------------------------- */
.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid white !important;
  /* border-top-color: inherit; */
  border-bottom: 0;
  transform: translateY(50%);
  content: "";
}
.ant-divider-inner-text h4 {
  margin-top: 4px;
  background-color: rgba(0, 0, 0, 0.397);
  padding: 1.5px 5px;
  border-radius: 5px;
}
.ant-picker-range {
  padding: 12px !important;
  background-color: lightseagreen !important;
  color: white !important;
  border: 1px solid white;
}

.ant-picker-input > input {
  color: white !important;
}
.ant-modal-title {
  color: #1eb5a4 !important;
}
.rcw-title {
  color: white;
}
/* ---------------------------------------------------------------------------------- */
/************************ Footer *********************/

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #202020;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #00ffffdf;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #00ffffdf;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #00ffffdf;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #00ffffdf;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #00ffffdf;
  padding: 13px 20px;
  border: 1px solid #00ffffdf;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #2f2e2e;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #00ffffdf;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #00ffffdf;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.f-icons {
  font-size: 38px;
  color: #00ffffdf !important;
  margin-left: 15px;
  margin-bottom: 5px;
}
.f-social-icons {
  font-size: 32px !important;
  margin-top: -13px;
  border-radius: 5px;
}
.facebook {
  color: #3b5998 !important;
  background-color: rgba(255, 255, 255, 0.87);
}
.twitter {
  color: #00acee !important;
  background-color: rgba(255, 255, 255, 0.87);
}
.linkedIn {
  color: #db4a39 !important;
  background-color: rgba(255, 255, 255, 0.87);
}
/* -------------------------------------Booking--------------------------------- */
