@import url("https://fonts.googleapis.com/css2?family=Metal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
body {
  margin: 0;
  font-family: "Metal", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222f35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.box-shadow1 {
  box-shadow: rgba(28, 255, 225, 0.644) 0px 1.5px;
  background-color: #2f2e2e;
}
.box-shadow2 {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #00ffffdf;
}
p {
  margin: 5px !important;
  text-align: left;
  padding: 0;
}
.header {
  padding: 12px;
}
.logo-main {
  font-family: "Barrio";
}
.content {
  min-height: 88vh;
}
.carimg {
  height: 180px;
  width: auto;
  border-radius: 5px;
}
.btn1 {
  box-shadow: none !important;
  background-color: white;
  color: orangered;
  border: 1px solid orangered !important;
}
